* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* --- Google Font Import --- */

@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  width: 100%;
  height: 100%;
  font-family: 'Oxygen',sans-serif;
  background: #141414;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, p {
  padding: 1em 0;
}

a {
  text-decoration: none;
}

/* --- LIGHTBOX --- */

#lightbox_overlay {
  position:fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.95);
  display: none;
}

#lightbox_overlay #lightbox_content {
  position: absolute;
  width: 80%;
  transform: translateY(-50%);
  top: 50%;
  left: 10%;
  right: 10%;
}

#lightbox_overlay #lightbox_content img {
  width: 100%;
  height: auto;
}

#lightbox_overlay #lightbox_content #lightbox_nav {
  width: 100%;
  margin: 0 0 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

#lightbox_overlay #lightbox_content #lightbox_nav span:hover {
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5vh;
  background: #141414;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.35);
}

.navbar a {
  color: #fff!important;
}

.navbar a:visited {
  color: #fff;
}

.navbar img {
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 1.35% 2%;
  width: 60px;
  height: auto;
}

.navbar ul {
  width: 100%;
  list-style-type: none;
}

.navbar li {
  padding: 1.35% 2%;
  display: inline-block;
}

.wrapper-content {
  text-align: center;
  z-index: -1;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "showcase-a showcase-a showcase-a showcase-a"
      "showcase-b showcase-b showcase-b showcase-b"
      "section-a section-a section-a section-a"
      "section-b section-b section-b section-b"
      "section-c section-c section-d section-d"
      "section-f section-f section-f section-f"
      ;

}

.card-grid {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  -ms-grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-areas:
      "box-1 box-2 box-3"
      "box-4 box-5 box-6"
}

@media(max-width: 1024px) {

  .navbar img {
    display: none;
  }

  .showcase-b {
    height: auto;
  }

  .section-a {
    height: auto;
  }

  .card-grid {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    -ms-grid-template-columns: 100%;
    grid-template-areas:
        "box-1"
        "box-2"
        "box-3"
        "box-4"
        "box-5"
        "box-5"
  }
}

.card {
  width: 50%;
  min-height: 45vh;
  height: auto;
  color: #141414;
  margin: 1.5em auto;
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.35), 0 1px 2px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.35), 0 1px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.35), 0 1px 2px rgba(0,0,0,0.35);
}

.card:hover {
  box-shadow: 0 1.5rem 2.8rem rgba(0,0,0,0.37), 0 1rem 1rem rgba(0,0,0,0.37);
  -webkit-box-shadow: 0 1.5rem 2.8rem rgba(0,0,0,0.35), 0 1rem 1rem rgba(0,0,0,0.37);
  -moz-box-shadow: 0 1.5rem 2.8rem rgba(0,0,0,0.35), 0 1rem 1rem rgba(0,0,0,0.37);
  transform: translate3d(0,-0,0.5rem) scale(1.01);
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card video {
  display: block;
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1.5em;
}

.showcase-a {
  grid-area: showcase-a;
  min-height: 75vh;
  background: url('../media/img/showcase-a-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  transform: translate3d(0,0,0);
}

.showcase-a-img-mask {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: #000;
  opacity: .75;
}

#showcase-a-content {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.showcase-b {
  grid-area: showcase-b;
  min-height: 25vh;
  background: #2ce1a7;
  color: #141414!important;
}

.ion-chevron-down {
  font-size: 24px;
  font-weight: bolder;
}

#showcase-b-content {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.btn {
  width: 50%;
  display: inline-block;
  margin: .5em 0;
  padding: 1em 2em;
  background: transparent;
  color: #141414;
  text-decoration: none;
  border: 3px solid #141414;
}

.content-vertical-mid-align {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.section-a {
  height: auto;

  grid-area: section-a;
  background: #14142d;
  color: #fff;
}

.section-a p {
  padding-bottom: 2em;
}


.section-b {
  height: auto;
  grid-area: section-b;
  background: lightblue;
  color: #141414!important;
}


.section-c {
  height: auto;
  grid-area: section-c;
  background: #f2d0a4;
  color: #141414;
}

.section-c a, .section-d a {
  color: #141414!important;
}

.section-c a:visited, .section-d a:visited {
  color: #141414;
}

.section-d {
  height: auto;
  grid-area: section-d;
  background: #a4303f;
  color: #141414;
}

.section-f {
  min-height: 5vh;
  height: auto;
  grid-area: section-f;
  background: #141414;
  color: #2ce1a7;
}

.ion-ios-email, .ion-android-call, .ion-social-github, .ion-social-instagram {
  font-size: 48px;
  font-weight: bolder;
  color: #141414;
  display: block;
}
